#body h1 {
    font-size: 1.875rem;/* 30px */;
    line-height: 2.25rem;
    font-weigth: 800;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#body h2 {
    font-size: 1.875rem;/* 30px */;
    line-height: 2.25rem;
    font-weigth: 800;
}

#body h3 {
    font-size: 1.875rem;/* 30px */;
    line-height: 2.25rem;
    font-weigth: 800;
}

#body img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
}