#body h1 {
    font-size: 1.875rem;/* 30px */;
    line-height: 2.25rem;
    font-weigth: 800;
}

#body h2 {
    font-size: 1.875rem;/* 30px */;
    line-height: 2.25rem;
    font-weigth: 800;
}

#body h3 {
    font-size: 1.875rem;/* 30px */;
    line-height: 2.25rem;
    font-weigth: 800;
}