#texto img {
    max-width: 20vw;
    max-heigth: 10vw;
}

@media (max-width: 640px) {
    #texto img {
    max-width: 50vw;
    max-heigth: 20vw;
}
}

@media (max-width: 450px) {
    #texto img {
    max-width: 30vw;
    max-heigth: 20vw;
}
}